@* Generator: MvcHelper Namespace: CustomTemplates GeneratePrettyNames: true *@

@helper Component1(Common.Model.ExternalComponentUser user)
{
    <span>Hi! I'm @user.Name @user.Surname and I came from an <strong>external</strong> component!</span>
}

@helper Component2(Common.Model.ExternalComponentUser user)
{
    <span>Hi! I'm @user.Name @user.Surname and I came from an <strong>external</strong> component! (2)</span>
}